body {
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(22,0,74,1) 15%, rgba(33,0,111,1) 50%, rgba(22,0,74,1) 85%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    color: white;
}

html {
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
}

*, *::before, *::after {
    box-sizing: inherit;
    /* outline: 1px solid red !important; */
}

header {
    height: 150px;
    background: rgb(225,0,245);
    background: linear-gradient(0deg, rgba(225,0,245,1) 0%, rgba(255,145,26,1) 100%); 
    margin-bottom: 75px; 
}

.title {
    margin-top: 0;
    text-align: center;
    color: #28cfec;
    text-shadow: 2px 2px black;
    font-size: 80px;
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.name {
    display: flex;
    flex-flow: column;
    width: 100px;
    height: auto;
    align-items: center; 
    justify-content: center;
    margin: auto;
}

.name h1 {
    margin: 20px auto 0 auto;
    font-size: 72px;
}


.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    height: 600px;
    width: 600px;
    margin: auto;
}

.gametile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 128px;
    border: 3px solid white;
}

.restart {
    display: block;
    height: 50px;
    width: 400px;
    margin: 50px auto auto auto;
    background: rgb(225,0,245);
    background: linear-gradient(90deg, rgba(225,0,245,1) 0%, rgba(255,145,26,1) 100%); 
    font-family: inherit;
    font-size: 24px;
}