body {
    margin: 0;
    background-color: black;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    outline: 1px solid red !important;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    margin: auto;
}

.gametile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    color: white;
    background-color: black;
    font-size: 128px;
    border: 1px solid white;
}